.App {
  text-align: center;
}
#landing{
margin-top:50px;
animation: titleLanding 8s ease infinite;
}

@keyframes titleLanding {
  0%{width:75%}
  50%{width:50%}
  100%{width:75%}
}

#pokemonHome{
  height:100px;
}
#pokemonHome:hover{
  transform: scale(1.3,1.3) !important;
}

#divpokehome{
  background-image: url('https://secure.static.tumblr.com/0e3b2e30312ca426d8a8f29a99e01aeb/ge4upkh/HMcmzna1m/tumblr_static_tumblr_static_tumblr_static_pokemon_banner.png');
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
}