ul{
    list-style-type:none;
}

#ultypes{
    display: flex;
    margin-right: 40px;
}
#ultypes li{
    margin:5px;
}
#ultypes img{
    margin: 5px;
}


#divDeta{
    width: 20%;
    height: 110%;
    border:3px solid black;
    background-size: 100% 100%;
    border-radius:50px;
    box-shadow: 5px 5px 5px white;
    margin-bottom: 10px;
}
#img-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#img-types > img{
    width: 40%;
    padding: 15px;
}
#atributes{
display: flex;
justify-content: center;   
margin-right: 40px;

}
#atributes li{
    margin:5px;
    color:rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    text-align:left;
    text-shadow: 0px 0px 10px black;
}
h2{
    text-shadow: 0px 0px 8px white;
    font-family: 'Press Start 2P', cursive;
    font-size:15px;
}

.progress{
	border:  1px solid #313131;
	border-radius: 9px;
}
.progress::-webkit-progress-bar {
	background-color: #f6f6f6;
	border:  1px solid #313131;
	border-radius: 9px;
}
.hp::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(133,29,29,1) 0%, rgba(200,55,38,1) 100%);
	border-radius: 9px;
}
.st::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(190,188,48,1) 0%, rgba(225,240,58,1) 94%);
	border-radius: 9px;
}
.def::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(71,177,42,1) 0%, rgba(130,240,58,1) 94%);
	border-radius: 9px;
}
.sp::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(42,43,177,1) 0%, rgba(58,152,240,1) 100%);
	border-radius: 9px;
}