p{
    user-select: none;
}
span{
    user-select: none;
}
label{
    user-select: none;
}
.pokes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:25%;
    margin: 10px;
    margin-bottom: 10px;
    height: 300px;
}
.pokes p{
    font-family: 'Press Start 2P', cursive;
    font-size:25px;
    margin:2px;
    text-shadow: 0px 0px 5px white;
}
#all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pokefoto{
    width: 110%;
    margin:0px
}
.poketype{
    transform: scale(1.2,1.2);
    margin:8px;
}
#pokepage{
    position: fixed;
    bottom: 2px;
    right: 40%;
    left: 40%;
}
.numpage{
    padding:0;
    width:20px;
    text-align: center;
    background-color: black;
    color:white;
    border-radius:10px;
}
.prev{
    border-radius: 10px;
        animation: cambio 11s ease infinite;
        color:black;
        border: none;
        font-size:170%;
        background: none;
}
.prev img{
    width:70px;
    height:70px;
    cursor: pointer;
}
.prev img:hover{
    transform:scale(1.2,1.2);
}
.contPage{
    display: flex;
    align-items: center;
    justify-content: center;
}
#link{
    width:40%;
}
#shadow{
    background-color:rgba(48, 19, 6, 0.781);
    font-family:monospace;
    font-size: 100%;
    color:white;
    font-weight: 500;
    padding:2px;
    filter:brightness(60%)
}
.pokes article{
    display: flex;
    align-items: center;
}
/* .fix{
    position:fixed;
    bottom:2px;
    right:50%;
    left:50%;
} */